html,
body {
    margin: 0px;
    height: 100%;
}

.core-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ant-layout-sider-children {
    background-color: rgba(87, 79, 216, 255) !important;
}

.header-on-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.logo {
    height: 4.2em;
    margin: 20%;
}

.PlayerRSWP {
    background: rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .slick-arrow.slick-prev {
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: red;
    color: red;
}

.slick-arrow.slick-next {
    background-color: red;
    color: red;
} */

@media screen and (max-width: 540px) {

    .ant-layout-sider-children, .logo {
        width: 50px !important;
    }

    .ant-layout-sider,
    .ant-layout-sider-dark {
        flex: none !important;
        max-width: 50px !important;
        min-width: 50px !important;
        width: 50px !important;
    }
}