html,
body {
    margin: 0px;
    height: 100%;
}

.core-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ant-layout-sider-children {
    background-color: rgba(87, 79, 216, 255) !important;
}

.header-on-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.logo {
    height: 4.2em;
    margin: 20%;
}

.song-details {
    color: gray;
    font-size: 12px;
}

.PlayerRSWP {
    background: rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.slick-arrow.slick-prev {
    position: absolute;
    top: unset;
    margin-top: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3e%3cpolyline points='15 18 9 12 15 6'%3e%3c/polyline%3e%3c/svg%3e");
    z-index: 99;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    bottom: -15px;
    border: 1px solid #BBBFC3;
    border-radius: 4px 0px 0px 4px;
    left: 0px;
    border-right: unset;
}

.slick-arrow.slick-next {
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3e%3cpolyline points='9 18 15 12 9 6'%3e%3c/polyline%3e%3c/svg%3e");
    position: absolute;
    left: 35px;
    top: unset;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    bottom: -15px;
    border: 1px solid #BBBFC3;
    border-radius: 0px 4px 4px 0px;
    right: unset;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-prev:focus {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3e%3cpolyline points='15 18 9 12 15 6'%3e%3c/polyline%3e%3c/svg%3e");
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-next:focus {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3e%3cpolyline points='9 18 15 12 9 6'%3e%3c/polyline%3e%3c/svg%3e");
}

.core-search {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media screen and (max-width: 540px) {

    .ant-layout-sider-children,
    .logo {
        width: 50px !important;
    }

    .ant-layout-sider,
    .ant-layout-sider-dark {
        flex: none !important;
        max-width: 50px !important;
        min-width: 50px !important;
        width: 50px !important;
    }
}